@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: "Lora", sans-serif;
    min-height: 100vh;
    background-color: #000000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 10rem;
}

.header-container-navbar {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-container-navbar_logo {
    color: #ffffff;
    margin-right: 14rem;
}

.header-container-navbar_logo p {
    font-size: 20px;
    cursor: pointer;
}

.header-container-navbar_links {
    display: flex;
    flex-direction: row;
}

.header-container-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-container-navbar_links a {
    text-decoration: none;
    color: #b0adad;
    font-family: sans-serif;
    font-size: 16px;

    margin: 0 1rem;
    cursor: pointer;
}

.header-container-button button {
    padding: 0.5rem 1rem;
    background-color: #f4f45a;
    color: #333;
    font-family: "Lora", sans-serif;
    font-size: 18px;
    font-weight: 500;
    border: 0;
    line-height: 25px;
    cursor: pointer;
}

.main {
    min-height: 100vh;
    width: 100%;
}

.main-header {
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 55.5px;
    margin: 3rem 0 0 10rem;
}

.main-header_break2 {
    font-size: 54px;
}

.main-header_content {
    width: 610px;
    height: 100px;
    margin: 1rem 0 0 10rem; 
}

.main-header_content p{
    font-family: sans-serif;
    font-size: 18.2px;
    color: #b0adad;
    line-height: 25px;
}

.main-social-proof {
    margin: 4rem 0 0 10rem;
}
    
.main-social-proof img{
    margin-right: 4.2rem;
}

.main-banner {
    margin: 6rem 0 0 10rem;
    display: flex;
    flex-direction: row;
}
    
.main-banner img {
    width: 90%;
    height: auto;
}

.main-banner_header_container {
    margin: 1rem 0 0 10rem;
    display: flex;
    flex-direction: row;
}

.main-banner_header_container_image1,
.main-banner_header_container_image2 {
    font-size: 32px;
    color: #ffffff;
}

.main-banner_header_container_image2 {
    margin-left: 302px;
}

.main-banner_content_container {
    margin: 1rem 0 4rem 10rem;
    color: #b0adad;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    font-size: 17.5px;
    line-height: 25px;
}

.main-banner_content_container_content1 {
    width: 500px;
}

.main-banner_content_container_content2 {
    width: 470px;
    margin-left: 33px;
}

.sub-main {
    display: flex;
    flex-direction: row;
    background-color: #222222;
    color: #b0adad;
    padding-bottom: 4rem;
}

.sub-main-header-and-leftcontent-container {
    margin: 4rem 0 0 10rem; 
}

.sub-main-header {
    width: 500px;
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 1rem;
}

.sub-main-header_content {
    width: 465px;
    font-size: 17px;
    line-height: 25px;
    font-family: sans-serif;
}

.p1 {
    margin-bottom: 2rem;
}

.sub-main-rightcontent-container {
    margin: 4rem 0 0 2rem;
    font-size: 17px;
    line-height: 25px;
    font-family: sans-serif;
}

.left-paragraph-1 {
    width: 470px;
    margin-bottom: 1.2rem;
}

.left-paragraph-2 {
    width: 470px;
    margin-bottom: 1.6rem;
}

.left-paragraph-3 {
    width: 470px;
    margin-bottom: 2rem;
}

.left-paragraph-4 {
    width: 470px;
    margin-bottom: 2rem;
}

.interest {
    margin: 4rem 0 0 10rem;
    background-color: #000;
    color: #fff;
}

.interest-header {
    font-size: 35px;
    color: #ffffff;
    font-family: sans-serif;
}

.interest-content {
    width: 450px;
    color: #b0adad;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 0.5rem;
}

.interest-button button {
    padding: 0.5rem 1rem;
    background-color: #ffff45;
    color: #333;
    font-family: "Lora", sans-serif;
    font-size: 18px;
    font-weight: 500;
    border: 0;
    line-height: 25px;
    cursor: pointer;
    margin-bottom: 4rem;
}

.footer-container {
    display: flex;
    flex-direction: row;
    background-color: #222222;
}

.footer-logo {
    height: 3rem;
    margin: 1.5rem 0 0 10rem;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}

.footer-social-media-icons-container {
    margin: 1.5rem 0 0 46rem;
}

.footer-social-media-icons-container img {
    cursor: pointer;
    margin: 0 1rem 0 0;
}